.container_oferta {
  max-width: 150px;
  margin-left: 160px;
}

.texto_p {
  color: #000;
  font-size: 30px;
  margin-left: 12px;
  font-weight: 900;
  font-family: 'Elsie Swash Caps', cursive;
  margin-bottom: 10px;
  margin-top: 10px;
  padding: 1px;
}

.texto_comprar {
  color: #000;
  font-size: 16px;
  margin-left: 10px;
  font-weight: 300;
  margin-bottom: 5px;
  margin-top: 5px;
  padding: 1px;
  font-family: 'Montserrat', sans-serif;
}

.texto_preco {
  color: #f36e15;
  font-size: 16px;
  margin-left: 10px;
  font-weight: 300;
  margin-bottom: 5px;
  margin-top: 5px;
  padding: 1px;
  font-family: 'Montserrat', sans-serif;
}

img {
  box-sizing: border-box;
  width: 100%;
}