.soltinho_fundo_p2 {
  max-width: 210px;
  flex-direction: row;
  align-items: flex-end;
  margin-top: -10px;
  margin-left: 10px;
}

.container_fundo_p2 {
  width: 22%;
  margin-top: 0px;
  position: absolute;
  z-index: 2;
  position: absolute;
  z-index: 2;
}

img {
  box-sizing: border-box;
  width: 100%;
}